.header {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.link {
  color: aquamarine;
  font-family: verdana;
  font-size: 16px;
  text-align: center;
}

body {
  background-color: black;
  font-family: verdana;
}

video {
  display: block;
  margin: 0 auto;
}
